@{
    Layout = "~/Views/Shared/_Layout admin.cshtml";
    ViewData["Title"] = "Admin - Photos";
}
<div class="container py-4">
    <h1 class="mb-4">Pages Photos</h1>

    <div class="row g-4">
        <!-- Home Photos -->
        <div class="col-md-4 col-lg-3">
            <a href="/admin/homephotos" class="card-link">
                <div class="card text-white bg-primary shadow h-100 p-2">
                    <div class="card-body">
                        <h2 class="card-text text-center">Home</h2>
                    </div>
                </div>
            </a>
        </div>
        <!-- Home Photos -->
        <div class="col-md-4 col-lg-3">
            <a href="/photos" class="card-link">
                <div class="card text-white bg-danger shadow h-100 p-2">
                    <div class="card-body">
                        <h2 class="card-text text-center">Rooms</h2>
                    </div>
                </div>
            </a>
        </div>
        <!-- Home Photos -->
        <div class="col-md-4 col-lg-3">
            <a href="/photos" class="card-link">
                <div class="card text-white bg-info shadow h-100 p-2">
                    <div class="card-body">
                        <h2 class="card-text text-center">Restaurants</h2>
                    </div>
                </div>
            </a>
        </div>
        <!-- Home Photos -->
        <div class="col-md-4 col-lg-3">
            <a href="/photos" class="card-link">
                <div class="card text-white bg-warning shadow h-100 p-2">
                    <div class="card-body">
                        <h2 class="card-text text-center">Halls</h2>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
