@{
  ViewData["Title"] = "Restaurants";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container justify-content-center gap-0.5 pagebody">
    <div class="row mb-5">
        <h3 class="text-center mb-3 italicFont">We have all kinds of delicious dishes</h3>
        <div class="col">
            <img src="/images/restaurant1.jpg" class="w-100 rounded restaurantImg" alt="Photo 1">
        </div>
        <div class="col">
            <img src="/images/restaurant2.jpg" class="w-100 rounded restaurantImg" alt="Photo 2">
        </div>
        <div class="col">
            <img src="/images/restaurant3.jpg" class="w-100 rounded restaurantImg" alt="Photo 3">
        </div>
    </div>
    <div class="row justify-content-center text-center mb-5">
        <a href="/menu.pdf" target="_blank" class="btn btn-primary w-50">Menu</a>
    </div>
    <div class="row mb-5">
        <h3 class="text-center mb-3 italicFont">Indoor</h3>
        <div class="col">
            <img src="/images/elsalah.jpg" class="w-100 rounded imgRoom" alt="Photo 1">
        </div>
    </div>
    <div class="row mb-5">
        <h3 class="text-center mb-3 italicFont">Bartoom</h3>
        <div class="col">
            <img src="/images/bartoom.jpg" class="w-100 rounded imgRoom" alt="Photo 1">
        </div>
    </div>
    <div class="row mb-5">
        <h3 class="text-center mb-3 italicFont">Flandara</h3>
        <div class="col">
            <img src="/images/flandara.jpg" class="w-100 rounded imgRoom" alt="Photo 1">
        </div>
    </div>
</div>