<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FleetClubG</title>
    <link rel="icon" type="image/png" href="logo1.png" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=qL_6Vyu3B_FU2cfWT0I7LutP7BGDBsMACKAJUJkTmR4" />
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body>

    <div b-2oxehjnv8v class="w-100 m-0 p-0">
        <main b-2oxehjnv8v role="main" class="w-100 m-0 p-0">


<div class="container mt-5" style="max-width: 600px;">
    <div class="card shadow-sm rounded-4">
        <div class="card-body p-4">
            <h3 class="mb-4 text-center">Add New Room</h3>

            <form method="post" action="/rooms/add">
                <!-- Room Name -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="RoomNumber" name="Number" placeholder="Room Number" required>
                    <label for="RoomNumber">Number</label>
                </div>


                <!-- Price -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Room Price" id="RoomPrice" name="Price"
                        style="height: 100px"></textarea>
                    <label for="RoomPrice">Price</label>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100 py-2">
                    Add Room
                </button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8CwxyY9zdidJh5HjbovKgQDjcN4J8M3OfkwihPndmzT8F2kmlRER7pV4oGgN_qLNS4Epskv0KW_J3IaKntjQUabMctI-yS1hftBgf8wwgExQZT0YEZt19bW5xT1_uj_0aPNFeaGwQrj5HQNMxhPiJAQ" /></form>
        </div>
    </div>
</div>

        </main>
    </div>



    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>

</body>

</html>